<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title_prefix %}
			{% endblock %}

			{% block title %}
			Stuff and Things
			{% endblock %}

			{% block title_suffix %}
			- Home
			{% endblock %}
		</title>

		<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename = 'css/base.css') }}">

		<script type="module" src="{{ url_for('static', filename = 'js/error.js') }}"></script>

		{% block head %}
		{% endblock %}
	</head>

	<body>
		<script>
			const TOOLTIP_ELEMENT = "{{ tooltip_element | string }}"
			const TOOLTIP_TEXT = "{{ tooltip_text | string }}"
			const TOOLTIP_DIRECTION = "{{ tooltip_direction | string }}"

			{% block js_passthrough %}
			{% endblock %}
		</script>

		{% if not no_header %}
			<header class="flexbox flex_hspace flex_vcenter pop">
				{% include "header.html" %}
			</header>
		{% endif %}

		<div id="body_block" class="{% block body_classes %} {% endblock %}">
			{% block body %}
			{% endblock %}
		</div>

		{% if not no_footer %}
			<footer class="flexbox flex_hspace flex_vcenter pop">
				{% include "footer.html" %}
			</footer>
		{% endif %}

		<script type="module" src="https://unpkg.com/ionicons@7.4.0/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@7.4.0/dist/ionicons/ionicons.js"></script>
	</body>
</html>
