<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title_prefix %}
			{% endblock %}

			{% block title %}
			Stuff and Things
			{% endblock %}

			{% block title_suffix %}
			- Home
			{% endblock %}
		</title>

		<link rel="stylesheet" href="{{ url_for('static', filename = 'css/base.css') }}">

		{% block head %}
		{% endblock %}
	</head>

	<body>
		<header class="flexbox flex_vcenter">
			<p>h</p>
		</header>

		<div id="body_block">
			<p>b</p>
		</div>

		<footer class="flexbox flex_vcenter">
			<p>hi</p>
		</footer>
	</body>
</html>
