<div class="flexbox flex_gap_big flex_vcenter">
	{% include "logo.html" %}

	<h2>Stuff and Things</h2>
</div>

<div class="flexbox flex_gap flex_vcenter">
	<ul class="hlist flexbox flex_gap_big flex_vcenter">
		<li>
			<a class="flexbox flex_vcenter flex_gap_small" href="/products/">
				<ion-icon name="pricetag-outline"></ion-icon>
				Browse Products
			</a>
		</li>

		<li>
			<a class="flexbox flex_vcenter flex_gap_small" href="/signup/">
				<ion-icon name="person-add-outline"></ion-icon>
				Sign Up
			</a>
		</li>

		<li>
			<a class="flexbox flex_vcenter flex_gap_small" href="/login/">
				<ion-icon name="log-in-outline"></ion-icon>
				Login
			</a>
		</li>
	</ul>
</div>
