{% extends "base.html" %}

{% block title_suffix %}
- Login
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/login.css') }}">
{% endblock %}

{% block body_classes %}
flexbox flex_hcenter flex_vcenter
{% endblock %}

{% block body %}
<div id="login_container" class="upper_glow pop">
	<form class="flexbox flex_vcenter flex_column flex_gap" action="/login/" method="POST">
		<h2>Login to Your Account</h2>

		<div class="input_icon flexbox flex_vcenter">
			<ion-icon name="person-circle-outline"></ion-icon>
			<input type="text" name="login_name" minlength="8" maxlength="64" placeholder="Username or Email Address" required>
		</div>

		<div class="input_icon flexbox flex_vcenter">
			<ion-icon name="key-outline"></ion-icon>
			<input type="password" name="password" maxlength="255" placeholder="Password" required>
		</div>

		<div class="flexbox flex_hspace">
			<div class="flexbox flex_column flex_hcenter">
				<p>Don't have an account? <a href="/signup">Sign Up</a></p>
				<p>Forgot your password? <a href="/password_reset">Reset Password</a></p>
			</div>

			<input type="submit" value="Login">
		</div>
	</form>
</div>
{% endblock %}
