{% extends "base.html" %}

{% block title_suffix %}
- Order #{{ order_number }}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/order.css') }}">

<script type="module" src="{{ url_for('static', filename = 'js/order.js') }}"></script>
{% endblock %}

{% block body_classes %}
flexbox flex_hcenter flex_vcenter
{% endblock %}

{% block body %}
<script>
	ORDER_DATA = {{ order_data | tojson }}
	ORDER_ITEMS = {{ order_items | tojson }}
</script>

<div id="order_details" class="upper_glow pop">
	<div>
		<table>

		</table>
	</div>
</div>
{% endblock %}
