:root
{
	--flex-gap: 1em;

	--palette1: rgb(34, 37, 43);
	--palette2: rgb(41, 44, 52);
	--palette3: rgb(65, 67, 73);
	--palette4: rgb(66, 72, 85);
	--palette5: rgb(173, 178, 179);
	--palette-highlight: rgb(255, 169, 20);
	--palette-red: rgb(200, 68, 72);

	--header-height: 5em;
	--footer-height: 5em;

	--side-padding: 5em;

	--pop-alpha: 0.5;
}

*
{
	font-family: sans-serif;

	box-sizing: border-box;

	color: var(--palette5);
}

html, body
{
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;

	background-color: var(--palette2);
}

h1, h2, h3, h4, p
{
	margin: 0;
}

p
{
	font-size: 0.9em;
}

a
{
	transition: text-shadow 0.5s;
}

a:hover
{
	text-shadow:
		var(--palette-highlight) 0 0 1em,
		var(--palette-highlight) 0 0 1em;
}

.pop
{
	box-shadow: 0 0.1em 1.5em 0 rgba(0, 0, 0, var(--pop-alpha));
}

.float_left
{
	float: left;

	margin-right: auto;
}

.float_right
{
	float: right;

	margin-left: auto;
}

.clearfix::after
{
	content: "";

	clear: both;

	display: table;
}

.tooltip
{
	height: 1.5em;

	padding-left: 1em;
	padding-right: 1em;

	position: absolute;

	background-color: var(--palette-red);

	z-index: 999;
}

.tooltip::before
{
	width: 1em;
	height: 1em;

	transform: rotate(45deg);

	content: "";

	position: absolute;

	background-color: var(--palette-red);

	z-index: -1;
}

.tooltip[direction=left]::before
{
	left: calc(100% - 0.5em);
}

.tooltip[direction=right]::before
{
	left: -0.5em;
}

.tooltip[direction=top]::before
{
	left: calc(50% - 0.5em);
	top: calc(100% - 0.5em);
}

.tooltip[direction=bottom]::before
{
	left: calc(50% - 0.5em);
	top: -0.5em;
}

#body_block
{
	padding-left: var(--side-padding);
	padding-right: var(--side-padding);
	padding-top: 1em;
	padding-bottom: 1em;

	width: 100%;
	min-height: calc(100% - (var(--header-height) + var(--footer-height)));
}
