:root
{
	--flex-gap: 1em;

	--palette1: rgb(34, 37, 43);
	--palette2: rgb(41, 44, 52);
	--palette3: rgb(65, 67, 73);
	--palette4: rgb(66, 72, 85);
	--palette5: rgb(173, 178, 179);
	--palette-highlight: rgb(200, 154, 102);

	--header-height: 5em;
	--footer-height: 5em;

	--pop-alpha: 0.5;
}

*
{
	font-family: sans-serif;

	box-sizing: border-box;

	color: var(--palette5);
}

html, body
{
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;

	background-color: var(--palette2);
}

h1, h2, h3, h4, p
{
	margin: 0;
}

.flexbox
{
	display: flex;
}

.flex_fill
{
	flex: 1;
}

.flex_gap
{
	gap: var(--flex-gap);
}

.flex_column
{
	flex-direction: column;
}

.flex_hspace
{
	justify-content: space-between;
}

.flex_hcenter
{
	justify-content: center;
}

.flex_vcenter
{
	align-items: center;
}

.upper_glow::before
{
	width: 100%;
	height: 3px;

	margin-top: -3px;
	margin-bottom: -3px;

	display: block;

	content: "";

	box-shadow: 0 0.1em 1em 0.1em var(--palette-highlight);

	border-top: 2px solid var(--palette-highlight);
}

.pop
{
	box-shadow: 0 0.1em 1.5em 0 rgba(0, 0, 0, var(--pop-alpha));
}

.float_left
{
	float: left;

	margin-right: auto;
}

.float_right
{
	float: right;

	margin-left: auto;
}

.clearfix::after
{
	content: "";

	clear: both;

	display: table;
}

header
{
	position: sticky;
	top: 0;

	width: 100%;
	height: var(--header-height);

	border-bottom: 1px solid var(--palette3);

	background-color: var(--palette1);
}

#body_block
{
	padding-top: 1em;
	padding-bottom: 1em;

	width: 100%;
	min-height: calc(100% - (var(--header-height) + var(--footer-height)));
}

footer
{
	padding-top: 1em;
	padding-bottom: 1em;

	width: 100%;
	height: var(--footer-height);

	border-top: 1px solid var(--palette3);

	background-color: var(--palette1);
}
