:root
{
	--flex-gap: 1em;

	--palette1: rgb(45, 50, 80);
	--palette2: rgb(66, 71, 105);
	--palette3: rgb(112, 119, 161);
	--palette-highlight: rgb(246, 177, 122);
}

*
{
	font-family: sans-serif;

	box-sizing: border-box;
}

html, body
{
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;
}

.flexbox
{
	display: flex;
}

.gap_flex
{
	gap: var(--flex-gap);
}

.column_flex
{
	flex-direction: column;
}
