:root
{
	--flex-gap: 1em;

	--palette1: rgb(34, 37, 43);
	--palette2: rgb(41, 44, 52);
	--palette3: rgb(65, 67, 73);
	--palette4: rgb(66, 72, 85);
	--palette5: rgb(173, 178, 179);
	--palette-highlight: rgb(255, 169, 20);
	--palette-red: rgb(200, 68, 72);

	--header-height: 5em;
	--footer-height: 5em;

	--side-padding: 5em;

	--pop-alpha: 0.5;
}

*
{
	font-family: sans-serif;

	box-sizing: border-box;

	color: var(--palette5);
}

html, body
{
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;

	background-color: var(--palette2);
}

h1, h2, h3, h4, p
{
	margin: 0;
}

p
{
	font-size: 0.9em;
}

a
{
	cursor: pointer;

	transition: text-shadow 0.5s;
}

a:hover
{
	text-shadow:
		var(--palette-highlight) 0 0 1em,
		var(--palette-highlight) 0 0 1em;
}

.pop
{
	box-shadow: 0 0.1em 1.5em 0 rgba(0, 0, 0, var(--pop-alpha));
}

#body_block
{
	padding-left: var(--side-padding);
	padding-right: var(--side-padding);
	padding-top: 1em;
	padding-bottom: 1em;

	width: 100%;
	min-height: calc(100% - (var(--header-height) + var(--footer-height)));
}
