.input_icon
{
	padding-left: 0.5em;

	background-color: var(--palette1);

	border: 1px solid transparent;

	transition: border 0.5s;
}

.input_icon ion-icon
{
	font-size: 2em;

	padding-right: 0.25em;
}

.input_icon input
{
	width: 100%;

	border-left: 1px solid black;
}

.input_icon:has(input:focus)
{
	border: 1px solid var(--palette-highlight);
}

input
{
	padding: 1em;

	background-color: var(--palette2);

	border: none;

	transition: background-color 0.5s;
}

input[type=button], input[type=submit]
{
	min-width: 10em;

	cursor: pointer;

	color: black;

	background-color: var(--palette-highlight);

	transition: none;
}

*:focus
{
	outline: none
}

input:focus
{
	background-color: var(--palette1);
}
