.input_icon
{
	padding-left: 0.5em;

	background-color: var(--palette3);
}

.input_icon ion-icon
{
	font-size: 2em;
}

input
{
	padding: 1em;

	background-color: var(--palette3);

	border: none;
}

input[type=submit]
{
	min-width: 10em;

	cursor: pointer;
}

*:focus
{
	outline: none
}
