.tooltip
{
	height: 1.5em;

	padding-left: 1em;
	padding-right: 1em;

	position: absolute;

	background-color: var(--palette-red);

	z-index: 999;
}

.tooltip::before
{
	width: 1em;
	height: 1em;

	transform: rotate(45deg);

	content: "";

	position: absolute;

	background-color: var(--palette-red);

	z-index: -1;
}

.tooltip[direction=left]::before
{
	left: calc(100% - 0.5em);
}

.tooltip[direction=right]::before
{
	left: -0.5em;
}

.tooltip[direction=top]::before
{
	left: calc(50% - 0.5em);
	top: calc(100% - 0.5em);
}

.tooltip[direction=bottom]::before
{
	left: calc(50% - 0.5em);
	top: -0.5em;
}
